body {
  background-image: url("./images/background.jpg");
}

h1{
  background-color: orange;
  color: white;
  display:inline;
  clear: both;
  padding: 10px;
  margin-bottom: 20px;
  border: solid 1px #ddd;
}

#wrapper {
  width: 100%
  max-width:960px;
  margin: 0 auto;
}

#instructions {
  background-color: white;
  width: 50%;
  clear:both;
  padding: 15px;
  margin-top: 20px;
  border: solid 1px #ddd
}

#randomNumber {
  background-color: green;
  float: left;
  display: inline-block;
  padding: 10px;
  margin-top: 20px;
  border: solid 1px #ddd
}

#scoreboard {
  background-color: #03A9F4;
  display: inline-block;
  padding: 15px 20px 10px 15px;
  margin-top: 20px;
  margin-left: 20px;
  border: solid 1px #ddd

}

#crystals {
  margin-top: 15px;
  margin-bottom:26px;
}

#crystals img {
  cursor: pointer;
  margin-left: 10px
}

#crystals img:last-child {
  margin-right: 0
}

#totalScore {
  margin-bottom: 50px;
}

#yts {
  background: #009688;
  display: inline;
  padding: 20px;
  border: solid 1px #ddd
}